# markdown
## markdown
### markdown
#### markdown
##### markdown

# insert site address
[site](http://ct3.gitam.edu)

# insert image
![text](https://cdn.dribbble.com/users/1784988/screenshots/4981724/35.jpg)

# Python Basics:

### Python is a begginer's language.
### Python is easy to learn.

# Creating ordered list

1. abs
2. hsdf
    1. a
    2. b

# Unordered List

- abd
- jhj 
    - jh
    - jh

## Bold and Italic Text

**Gitam**

*Gitam*

In [2]:
print("Hello World!!")

Hello World!!

In [3]:
x=10
y=20
x+y

30

# Rules for Variables

- name should begin with a character.
- no special character allowed except underscore(_).

In [7]:
name="kunal"
age=20
print("my name is:",name)
print("my age is:",age)

my name is: kunal
my age is: 20

In [8]:
name=input("enter your name")
age=int(input("enter your age"))
print("my name is:",name)
print("my age is:",age)

enter your namekunal
enter your age20
my name is: kunal
my age is: 20

In [10]:
x=int(input("enter x:"))
y=int(input("enter y:"))
print("x+y is",x+y)
print("x-y is",x-y)
print("x*y is",x*y)
print("x/y is",x/y)
print("x%y is",x%y)

enter x:7
enter y:5
x+y is 12
x-y is 2
x*y is 35
x/y is 1.4
x%y is 2

# Fundamental DataTypes

- int
- float
- complex
- boolean
- string

In [13]:
x=57
y=31.32
z=5+7j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [15]:
x=complex(5,7)
print(x)

(5+7j)

In [20]:
c1=2+3j
c2=5+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)
print(c1/c2)

(7+10j)
(-3-4j)
(-11+29j)
(0.41891891891891897+0.013513513513513507j)

In [25]:
a=10
b=9
a<b

False

In [33]:
s1="kunal"
s2="varma"
print(type("s1"),type("s2"))
print(s1+s2)

<class 'str'> <class 'str'>
kunalvarma

In [37]:
i=57
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [38]:
a=1234567
print(len(str(a)))

7

In [40]:
n=1000
a=b=c=57
x,y,z=13,24,35
print(n)
print(a,b,c)
print(x,y,z)

1000
57 57 57
13 24 35

# Precedence of arithmetic Operators
- paranthesis
- power
- multiplication/division
- addition

In [41]:
x=1+2**3/4+5
print(x)

8.0

In [42]:
x=1+2**3/4*5
print(x)

11.0

# Operators

## Arithmetic Operators

- +
- -
- *
- /
- %
- **
- //

In [51]:
x=10
y=2
print("x+y is",x+y)
print("x-y is",x-y)
print("x*y is",x*y)
print("x/y is",x/y)
print("x%y is",x%y)
print("x**y is",x**y)
print("x//y is",x//y)

x+y is 12
x-y is 8
x*y is 20
x/y is 5.0
x%y is 0
x**y is 100
x//y is 5

# Relational Operators

- ==
- !=
- <
- '>'
- <=
- '>'=

In [53]:
x=5
a=x>10
print(a)

False

# Logical Operators


- AND
- OR
- NOT

In [70]:
a=100
i=(a<400)and(a>50)
print(not i)

False

# Membership Operator
- in
- not in

In [74]:
str1="kunal"
print('a' in str1)
print('u'not in str1)

True
False

# Control Flow Statements
- conditional statements
- looping statements
- **if-else statements**
    - syntax
    #### if condition
    > statement <br>
    #### else
    > statement

In [82]:
# check giver number is even or odd
n=int(input("enter a number "))
if n%2==0:
    print("its an even number")
else :
    print("its an odd number")

enter a number 5
its an odd number

In [87]:
n=int(input("enter a number "))
if n%3==0 and n%5==0:
    print("its a multiple of 3 and 5")
else :
    print("its not a multiple of 3 and 5")

enter a number 5
its not a multiple of 3 and 5

In [90]:
n=int(input("enter a number"))
if n>0:
    print("its positive")
elif n<0:
    print("its negitive")
else:
    print("its equal to zero")

enter a number-8
its negitive

In [92]:
n=int(input("enter no. of days"))
if n==366:
    print("its a leap year")
else:
    print("its not a leap year")

enter no. of days366
its a leap year