### List
- one of the data dtructures in python
- data structure means, a means to store, sort and search options
- its one common data structure in python, the items of a list seperated by a comma and enclosed by square brackets
- operations are changable

## example

- list1=[1,2,3,4]
- list2==["gitam",1,2,3]

In [16]:
#list example
l=[1,4,8,7,9,12,16,18]
print(l[7])
print(l[-3])
print(l[2:])
print(l[2:6])
print(l[-9:9])

18
12
[8, 7, 9, 12, 16, 18]
[8, 7, 9, 12]
[1, 4, 8, 7, 9, 12, 16, 18]

In [19]:
l1=['GITAM',1234,1235,1236,'HYD']
print(l1[0][2])

T

In [21]:
l1[1]=[12345678]
print(l1)

['GITAM', [12345678], 1235, 1236, 'HYD']

In [36]:
#basic list functions
list=[1,9,119,25,5]
print(max(list))
print(min(list))
print(sum(list))
print(sum(list)//len(list))
print(len(list))
list.insert(1,99)
list.append(69)
print(list)

119
1
159
31
5
[1, 99, 9, 119, 25, 5, 69]

In [50]:
li=[2,99,8,4,96,77,69]
li.index(77)
li.sort()
print(li)
li.pop()
li.pop(2)
print(li)
li

[2, 4, 8, 69, 77, 96, 99]
[2, 4, 69, 77, 96]

[2, 4, 69, 77, 96]

### Del- delete the item from the list
### Pop- remove last index value
### Pop(Index)- removes the item from specified index

In [52]:
li=[2,99,8,4,96,77,69]
li1=[77,79,88,4]
li.extend(li1)
li.reverse()
li

[4, 88, 79, 77, 69, 77, 96, 4, 8, 99, 2]

In [58]:
#function to return the largest number from the given list
def largenumber(li):
    li.sort()
    return li[-1]
def genriclarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,25,45,77]
print(largenumber(li))
print(genriclarge(li,4))

77
19

In [59]:
def smallnumber(li):
    li.sort()
    return li[0]
def genricsmall(li,n):
    li.sort()
    return li[n]
li=[19,1,25,45,77]
print(smallnumber(li))
print(genricsmall(li,2))

1
25

### Tuple
- its a common data structure in python, the items of tuple are seperated ny comma and enclosed by paranthesis().

**Example**
- t=(1,2,3,4)

### List and Tuple
- in lists are mutable i.e the data can be changed/modified
- list is used to modify,add,delete,update
- in Tuples are immutable i.e the data cant be changed/modified
- tuples use access data only

In [61]:
t1=(1,2,4,5,7,8)
t1

(1, 2, 4, 5, 7, 8)

## Dictionary
1. works on the concept of set unique data
2. dictionary contains keys and values
3. each and and value is seperated by comma
4. each key is seperated from its value with colon':'

In [64]:
d1={'name':'gitam','email':'221210311031@gitam.in','campus':'hyderabad'}
d1

{'name': 'gitam', 'email': '221210311031@gitam.in', 'campus': 'hyderabad'}

In [69]:
d1['name']='Kunal'

In [70]:
d1

{'name': 'Kunal', 'email': '221210311031@gitam.in', 'campus': 'hyderabad'}

In [72]:
li

[1, 19, 25, 45, 77]

In [78]:
d1['email']='gitam@123'
d1

{'name': 'Kunal',
 'campus': 'hyderabad',
 'Roll_no': 221210311031,
 'roll_no': 221210311031,
 'email': 'gitam@123'}

In [80]:
del d1['Roll_no']
d1

{'name': 'Kunal', 'campus': 'hyderabad', 'roll_no': 221210311031}

In [81]:
d1.keys()

dict_keys(['name', 'campus', 'roll_no'])

In [82]:
d1.values()

dict_values(['Kunal', 'hyderabad', 221210311031])

In [83]:
d1.items()

dict_items([('name', 'Kunal'), ('campus', 'hyderabad'), ('roll_no', 221210311031)])

## Strings

In [85]:
s1="Python"
print(s1)

Python

In [86]:
print(s1[3])

h

In [88]:
s1[1]

'y'

In [89]:
len(s1)-2

4

In [90]:
s1[-2]

'o'

In [91]:
s1[len(s1)-2]

'o'

In [92]:
s1

'Python'

In [93]:
s1[1:-1]

'ytho'

In [96]:
s1[::-2]

'nhy'

In [97]:
s1[::-1]

'nohtyP'

## String built-in Methods
- upper
- lower
- isupper
- islower
- istitle
- isnumeric
- isalpha
- isspace

In [98]:
s1.upper()

'PYTHON'

In [99]:
s1.lower()

'python'

In [103]:
s1="Python"
s1.isupper()

False

In [101]:
s1.islower()

False

In [104]:
s1.istitle()

True

In [105]:
s1.isalpha()

True

In [106]:
s1.isnumeric()

False

In [108]:
s1.isspace()

False

In [112]:
s=' '
s.isspace()

True

## String Methods
- join()
- split()
- replace()

In [119]:
".".join(s1)

'P.y.t.h.o.n'